* {
	box-sizing: border-box;
	margin-top: 100px;
	margin-left: 500px;
}

.toggle1 {
	z-index: 1;
}

.toggle2 {
	z-index: 2;
}

.child_1 {
	background-color: #cfe2f3;
	width: 170px;
	height: 170px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	font-weight: bold;
	font-size: 40px;
	left: 0px;
	top: 0px;
	border: 1px solid black;
}
.child_2 {
	background-color: #cfe2f3;
	width: 170px;
	height: 170px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	font-weight: bold;
	font-size: 40px;
	left: 200px;
	top: 0px;
	border: 1px solid black;
}
.child_3 {
	background-color: #cfe2f3;
	width: 170px;
	height: 170px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	font-weight: bold;
	font-size: 40px;
	left: 0px;
	margin-top: 75px;
	border: 1px solid black;
}
.child_4 {
	background-color: #cfe2f3;
	width: 170px;
	height: 170px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	font-weight: bold;
	font-size: 40px;
	left: 200px;
	margin-top: 75px;
	border: 1px solid black;
}
.child_5 {
	background-color: #cfe2f3;
	width: 170px;
	height: 170px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	font-weight: bold;
	font-size: 40px;
	left: 100px;
	top: 80px;
	border: 1px solid black;
}
